body{
    background-image: url(gro1.jpg);
    
    background-position:top;     
    text-align: center;
    
}

p { 
    margin-top: 60px;
    font-size: 25px; 
    background-color:#a3a2a2; 
    position : absolute; 
    top : 55% ; 
    transform : translate(0,-50%);
    margin-left : 10px ; 
    right : 80% ;
    border-radius: 12px ;
    border : 1px solid white ;
    
    
}
header{
    border : 5px solid rgb(224, 224, 230) ; 
     
}
ol 
{
    margin-top: 60px;
    font-size: 20px; 
    background-color:#b8aeaa; 
    position : absolute; 
    top : 70% ; 
    transform : translate(0,-70%);
    margin-left : 45px ; 
    right : 55% ;
    border-radius: 10px ;
    border : 1px solid white ; 
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 104, 20);
    border-style:double;
    border-radius: 50px;
    border-width: 10px;
    background-color: white;
    
}
#classiq{
    text-align: right ; 
    list-style-type: none ;
    margin-right: 100px;
    margin-bottom: 10px;
    color :rgb(207, 104, 20);
    border-style:double;
    border-radius: 40px;
    border-width: 10px;
    background-color: white;
}
#romantiq{
    text-align: left ; 
    list-style-type: none ;
    margin-right: 100px;
    margin-bottom: 10px;
    color: rgb(207, 104, 20);
    border-style:double;
    border-radius: 40px;
    border-width: 10px;
    background-color: white;
}
#histo{
    text-align: right; 
    list-style-type: none ;
    margin-right: 350px;
    margin-bottom: 10px;
    color: rgb(207, 104, 20);
    border-style:double;
    border-radius: 40px;
    border-width: 10px;
    background-color: white;
}
#comed{
    text-align: left; 
    list-style-type: none ;
    margin-right: 90px;
    margin-bottom: 10px;
    color: rgb(207, 104, 20);
    border-style:double;
    border-radius: 40px;
    border-width: 10px;
    background-color: white;
}
ul {
    display : flex ; 
    justify-content: space-between;
} 
a {
    text-decoration: none ;
    color :rgb(90, 27, 27)
    
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 104, 20);
    border-style:double;
    border-radius: 50px;
    border-width: 10px;
    background-color: white;
}
